@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

.hero-image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px;
    height: auto;
    opacity: 0;
}

.hero-image-1 {
    animation: moveLeftToRight 5.5s forwards;
    max-width: 250px;
}

.hero-image-2 {
    animation: showAndFloat 0.2s 4.3s forwards, floatUpAndDown 3s infinite 5.5s;
}

@keyframes moveLeftToRight {
    0% { left: -100%; opacity: 0; }
    50% { left: 50%; transform: translate(-50%, -50%); opacity: 1; }
    100% { left: 50%; transform: translate(-50%, -50%); opacity: 0; }
}

@keyframes showAndFloat {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes floatUpAndDown {
    0%, 100% { transform: translate(-50%, -55%); }
    50% { transform: translate(-50%, -45%); }
}

.hero-text {
    text-align: center;
    z-index: 10;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Space Mono', monospace;
    padding: 40px 20px;
    position: relative;
    z-index: 1;
    margin-top: 300px;
}

.hero-text h1,
.hero-text h2,
.hero-text p {
    background: linear-gradient(90deg, #DBA6F4, #A981FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.hero-text h1 { animation-delay: 0.5s; }
.hero-text h2 { animation-delay: 1.5s; }
.hero-text p { animation-delay: 2.5s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.social-icons {
    position: absolute;
    right: 30px;
    top: 25%;
    color: #D19EF6;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    color: #D19EF6;
    font-size: 2rem;
    margin: 10px 0;
    transition: color 0.3s ease;
    font-family: 'Space Mono', monospace;
}

.social-icons a:hover {
    color: #af00bc;
}

.fixed-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
}

@media (max-width: 768px) {
    .hero {
        height: auto;
        flex-direction: column-reverse;
        padding: 30px;
    }

    .hero-text {
        font-size: 0.8rem;
        margin-top: 180px;
    }

    .hero-image {
        max-width: 100px;
        margin-top: -50px;
    }

    .social-icons a {
        font-size: 1.5rem;
    }

    .fixed-svg {
        width: 100%;
        height: auto;
    }
    .hero-image-1 {
        
        max-width: 160px;
    }
}

.social-icons a {
    color: #D19EF6;
    font-size: 2rem;
    margin: 10px 0;
    transition: color 0.3s ease;
    font-family: 'Space Mono', monospace;
}